<div class="widget-container">
  <h2 class="widget-title">
    <mat-icon>public</mat-icon>
    Random countries and their upcoming holidays
  </h2>

  <div class="countries-cards">
    @for (item of randomCountriesData$ | async; track item.country.countryCode) {
      <mat-card class="country-card">
        <mat-card-header>
          <mat-card-title>{{ item.country.name }}</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          @if (item.loading) {
            <div class="loading-container">
              <mat-spinner diameter="30"></mat-spinner>
              <span>Loading...</span>
            </div>
          } @else if (item.holiday) {
            <div class="holiday-info">
              <div class="holiday-info__name">{{ item.holiday.name }}</div>
              <div class="holiday-info__date">{{ formatDate(item.holiday.date) }}</div>
              @if (item.holiday.localName !== item.holiday.name) {
                <div class="holiday-info__local">{{ item.holiday.localName }}</div>
              }
            </div>
          }
        </mat-card-content>
      </mat-card>
    }
  </div>
</div>
